@media screen and (min-width: 801px) {
	/* 800px以下に適用されるCSS（タブレット用） */

html,body{
    height:100%;
    background-color: rgb(250, 241, 231);
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
  }

  li {
    list-style: none;
  }

  figure {
    display: inline-block;   /* インラインブロック化 */
    margin: 0% 1% 2% 0%; /* 外側に余白を追加(※右に3px・下に7px) */
    background-color: rgba(204, 204, 204, 0.534);  /* 背景色 */
}
/* ▼画像に対する装飾 */
figure img {
    display: block;          /* 余計な余白が出ないようにする */
    margin: 0% 0% 0% 0%; /* 下側にだけ3pxの余白を追加 */
    transform: translate(0%,0%);
    transition : 0.5s;
}
/* ▼キャプションに対する装飾 */
figcaption {
    font-size: 0.9em;        /* 文字サイズを90%に */
    text-align: center;      /* 中身をセンタリング */
}

figure img:hover {
    transform: translate(-1%,-2%);
    transition : 0.5s;
}

.error{
    color:#ff0000;
    font-weight: bold;
}

.close{
    cursor:default;
}

.title-image{
    width: 100%;
}

.menu{
z-index:1;
background-color:rgba(255, 255, 255, 0.37);
padding:1% 100% 1% 10%;
text-align: left;
position: fixed;
}

.menu-text{
    z-index:1;
      margin:2%;
      font-size:120%;
      font-family:Arial, Helvetica, sans-serif;
      font-weight: bold;
      text-decoration:none;
  }
.gray{
    color:darkgrey;
    transition : 0.5s;
}

.black{
    color:rgb(29, 28, 28);
    transition : 0.5s;
}
.menu-text:hover{
    color:rgb(90, 88, 88);
    transition : 0.5s;
}

.bold{
    font-weight: bold;
}

.side-menu{
    z-index:1;
    background-color:rgba(255, 255, 255, 0);
    margin:27% 0% 0% 78%;
    position: fixed;
    transform-origin: right;
    transform: rotate(90deg) translateX(100%);
    width:20%;
    }

.subtitle-h1{
        font-size:800%;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

.subtitle-h3{
        font-size:200%;
        font-family:Arial, Helvetica, sans-serif;
        margin:3%;
        font-weight: bold;
    }

.subtitle-left{
text-align: left;
margin:3%;
    }

.subtitle-right{
    text-align: right;
    margin:3%;
    }

.subtitle-gray{
        color:rgba(169, 169, 169, 0.363);
    }

.subtitle-black{
        color:rgba(0, 0, 0, 0.63);
    }


.fade{
        animation: fadeIn 4.2s ease 0s 1 normal;
    }
    @keyframes fadeIn { /*animation-nameで設定した値を書く*/
        0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
        30% {opacity: 1} /*アニメーション中間時は不透明度100%*/
        60% {opacity: 1} /*アニメーション中間時は不透明度100%*/
        100% {opacity: 0} /*アニメーション終了時は不透明度0%*/
    }

.overlay{
        /*　画面全体を覆う設定　*/
        z-index:2;
          position:fixed;
          top:0;
          left:0;
          width:100%;
          height:100%;
          background-color:rgba(0,0,0,0.5);
        
          /*　画面の中央に要素を表示させる設定　*/
          display: flex;
          align-items: center;
          justify-content: center;
        }

.overlay4{
            /*　画面全体を覆う設定　*/
            z-index:4;
              position:fixed;
              top:0;
              left:0;
              width:100%;
              height:100%;
              background-color:rgba(0,0,0,0.5);
            
              /*　画面の中央に要素を表示させる設定　*/
              display: flex;
              align-items: center;
              justify-content: center;
            
            }

.content{
            z-index:2;
            width:50%;
            padding: 1em;
            background:#fff;
            position:relative;
            border-radius: 20px;
          }

.contact-comp-modal{
            z-index:3;
            width:50%;
            padding: 1em;
            background:#fff;
            position:relative;
            border-radius: 20px;
          }

.content a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.63);
}          

.modal_table{
    align-items: center;
    text-align: center;
    width: 100%;
}

.modal_tbody{
    align-items: center;
    width: 100%;
}

.modal_tr{
    align-items:center;
    vertical-align:top;
}

.modal_td{
    text-align: left;
    width: 50%;
   
}

.modal_subtitle{
    padding: 0% 0% 0% 5%;
}

.modal_value{
    padding: 0% 40% 0% 0%;
    
}

.modal_discription{
    white-space: pre-wrap;
}

.modal_left{
    text-align: left;
}

.modal_right{
    text-align: right;
}

.modal_top{
    padding: 0% 0% 5% 0%;
}

.modal_left{
    padding: 0% 0% 0% 5%;
}
.modal_left2{
    padding: 0% 0% 0% 10%;
}

.modal_subtitle-h1{
    font-size:120%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.modal_subtitle-h2{
    font-size:200%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.modal_subtitle-h3{
    font-size:100%;
    font-family:Arial, Helvetica, sans-serif;
    margin:3%;
    font-weight: bold;
}

.modal_subtitle-small{
    font-size:80%;
    font-family:Arial, Helvetica, sans-serif;
    margin:3%;
    font-weight: bold;
}

.modal_subtitle-gray{
    color:rgba(94, 94, 94, 0.363);
}

.modal_subtitle-black{
    color:rgba(0, 0, 0, 0.63);
}

.skill-background{
    align-items: center;
    justify-content: center;
    width:25%;
    display: inline-block;
}

.skill{
    background:rgba(255, 255, 255, 0.329);
    margin:1%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.skill-table{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align:center;
    width: 90%;

}

.skill-list{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align:center;
    width: 90%;
}

.skill .star{
    text-align:right;
    vertical-align: auto;
    width: 50%;
   
}

.skill-title{
    position: absolute;
    margin:3% 0 0 5%;
}

.skill .title{
    position: relative;
    text-align:left;
}

.skill-subtitle-black{
    color:rgba(0, 0, 0, 0.63);
}

.about-discription{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align:center;
    width: 40%;
    white-space: pre-wrap;
}

.about-subtitle-left{
    text-align: left;
    align-items: top;
    margin:0% 0% 0% 20%;
}
.about-subtitle-right{
    text-align: right;
    align-items: top;
    margin:0% 20% 0% 0%;
}

.about-subtitle-vertical-right{
    background-color:rgba(255, 255, 255, 0);
    /* margin:15% 0% 0% 73%; */
    transform: rotate( 90deg );
    position: absolute;
    margin:100px 0 0 -80px;
    
}

.about-subtitle-vertical-left{
    background-color:rgba(255, 255, 255, 0);
    transform: rotate( 90deg );
    position: absolute;
    margin: 50px 0 0 -15px;
    
}

.about-subtitle-h1{
    font-size:120%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.about-subtitle-h2{
    font-size:150%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.about-subtitle-h3{
    font-size:100%;
    font-family:Arial, Helvetica, sans-serif;
    margin:3%;
    font-weight: bold;
}

.about-subtitle-small{
    font-size:80%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.about-subtitle-gray{
    color:rgba(94, 94, 94, 0.541);
}

.about-subtitle-black{
    color:rgba(0, 0, 0, 0.63);
}

.about-table{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align:center;
    width: 80%;

}

.about-td{
    width:20%;
}

.about-td-left{
   text-align: left;
   vertical-align: top;
}

.about-td-right{
    text-align: right;
    vertical-align: bottom;
}


.contact-discription{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align:center;
    width: 40%;
    white-space: pre-wrap;
}

.form{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align:center;
    width: 80%;
}

.contact-form{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align:left;
    width: 100%;
    margin:1%;
}

.contact-form-textarea{
    text-align:left;
    width: 100%;
    height:100%;
    border-radius: 10px;
    padding:1%;
    border: 2px #c0c0c0 solid;
    font-family:Arial, Helvetica, sans-serif;
}

.contact-form-text{
    text-align:left;
    width: 80%;
    height:100%;
    border-radius: 10px;
    padding:1%;
    border: 2px #c0c0c0 solid;
    font-family:Arial, Helvetica, sans-serif;
}

.contact-form-submit{
    text-align:right;
}

.footer{
    background-color: rgba(255, 255, 255, 0.548);
    /* border: 2px 2px 2px 2px  #020202 solid; */
    font-family:Arial, Helvetica, sans-serif;
    padding:0%;
}

.footer-menu{
text-align:left;
padding:1%  0%  0%  0%;

}

.footer-li{
    text-align:left;
    margin:1%;
    
    }

.footer-copy{
        text-align:right;
        padding:0% 4% 0% 0%;
        font-family:Arial, Helvetica, sans-serif;
        color:rgba(94, 94, 94, 0.541);
}

.footer-side-menu{display: none;}

/* ハンバーガーメニュー */
/* CSSコード */
.humbmenu {
    display: none;
  }
  
}